<ol class="breadcrumb">
    <li><a href="#">调度单管理</a></li>
    <li class="active">调度单回单管理</li>
</ol>

<div class="box box-danger" style="margin: 30px;">
    <div class="box-header">
        <h3 class="box-title">调度单 D920000111</h3>
    </div>
    <div class="box-body">
        <div class="row" style="margin:0;">
            <div class="col-lg-4">
                <span>VIN码： VIN123548965845</span>
            </div>
            <div class="col-lg-4">
                <span>车型： 宝马</span>
            </div>
            <div class="col-lg-4">
                <span>品牌： BMW</span>
            </div>
            <hr />
            <div class="col-lg-4">
                <span>运单数量： 2</span>
            </div>
            <div class="col-lg-4">
                <span>出发地： 北京</span>
            </div>
            <div class="col-lg-4">
                <span>目的地： 上海</span>
            </div>
        </div>

        <hr />

        <span>电子签名</span>
        <br />
        <img src="../../Images/helloSign.png" alt="电子签名" />
    </div>
</div>