@{
    ViewBag.Title = "样式1";
}

@Styles.Render("~/Content/adminLTE")
@Scripts.Render("~/bundles/adminLTE")

<style>
    .nav .caret {
        border-top-color: white;
        border-bottom-color: white;
    }

    .nav:hover .caret:hover {
        border-top-color: white;
        border-bottom-color: white;
    }
</style>

<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="navbar-header">
                    <a href="/Home/Index" class="navbar-brand"><b title="点击返回样式界面">TMS</b></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Layout/FirstStyle">首页 <span class="sr-only">(current)</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">基础数据 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">客户信息管理</a></li>
                                <li class="divider"></li>
                                <li><a href="#">平台信息管理</a></li>
                                <li><a href="#">承运商信息管理</a></li>
                                <li><a href="#">销售客户管理</a></li>
                                <li><a href="#">区域信息管理</a></li>
                                <li class="divider"></li>
                                <li><a href="#">城市信息管理</a></li>
                                <li><a href="#">运输地类型管理</a></li>
                                <li><a href="#">运输地信息管理</a></li>
                                <li><a href="#">收发货人信息管理</a></li>
                                <li><a href="#">货品类型</a></li>
                                <li><a href="#">货品</a></li>
                                <li><a href="#">服务产品</a></li>
                                <li><a href="#">执行方案</a></li>
                                <li><a href="#">订单资源管理</a></li>
                                <li><a href="#">实际里程维护</a></li>
                                <li><a href="#">投诉分类管理</a></li>
                                <li><a href="#">违规分类管理</a></li>
                            </ul>
                        </li>

                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">订单管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="active"><a href="/Order/FSOrder">订单管理</a></li>
                                <li><a href="#">交接单管理</a></li>
                                <li><a href="#">客户订单查询</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">分单管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">承运商指派</a></li>
                                <li><a href="#">指派回收</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">调度管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">高级调度管理</a></li>
                                <li><a href="#">派车管理</a></li>
                                <li><a href="#">调度单管理</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">运力管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">车型信息管理</a></li>
                                <li><a href="#">车辆信息管理</a></li>
                                <li><a href="#">司机管理</a></li>
                                <li class="divider"></li>
                                <li><a href="#">车辆证件管理</a></li>
                                <li><a href="#">车辆维修管理 </a></li>
                                <li><a href="#">车辆保险管理</a></li>
                                <li><a href="#">车辆缴费管理</a></li>
                                <li><a href="#">车辆油耗管理</a></li>
                                <li><a href="#">车辆状态管理</a></li>
                                <li><a href="#">车辆跟踪查询</a></li>
                                <li class="divider"></li>
                                <li><a href="#">轮胎管理</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">在途管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">发车登记</a></li>
                                <li><a href="#">发运确认</a></li>
                                <li><a href="#">运抵确认</a></li>
                                <li><a href="#">在途信息登记</a></li>
                                <li><a href="#">客户投诉管理</a></li>
                                <li><a href="#">承运商违规管理</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">安全管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">商品车保险管理</a></li>
                                <li><a href="#">商品车事故管理</a></li>
                                <li><a href="#">运输车投退保管理</a></li>
                                <li><a href="#">运输车事故管理</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">回单管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">回单登记</a></li>
                                <li><a href="#">回单影像批量上传</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">报表管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">报表配置</a></li>
                                <li><a href="#">报表中心</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">系统设置</a></li>
                                <li><a href="#">数据导入管理</a></li>
                                <li><a href="#">权限管理</a></li>
                                <li><a href="#">系统错误日志</a></li>
                                <li><a href="#">接口管理</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <i class="fa fa-user" style="font-size:2.5em; color: steelblue;"></i>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                测试用户
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">车队信息</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">车辆管理</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">其他管理</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-success btn-flat">个人信息</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-danger btn-flat">
                                            注销
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="content-wrapper" style="background:white;">
            @Html.Partial("_order")
        </div>

        @*<footer class="main-footer">
            <div class="container">
                <div class="pull-right hidden-xs">
                    京顺达运输综合系统
                </div>
                <strong>Copyright &copy;</strong> 2017 上海彩卓信息科技有限公司  All rights
                reserved.
            </div>
        </footer>*@
    </div>
</body>