@{
    ViewBag.Title = "选择样式";
}

<body>
    <section>
        <div class="container">
            <div class="row c-t">
                <div class="col-md-12 col-sm-12 col-xs-12 c-t">
                    <h3>宣传模板</h3>
                </div>
            </div>
            <div class="row c-t">
                <div class="col-md-4 col-sm-4 col-xs-12 c-t">
                    <a href="/Page/Page1" target="_blank">
                        <h3> First </h3>
                    </a>
                    <br />
                    <a href="/Page/Page1" target="_blank">
                        <img src="~/Images/page1.png" class="img-responsive img-thumbnail" alt="" />
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 c-t">
                    <a href="green/index.html" target="_blank">
                        <h3> Second </h3>
                    </a>
                    <br />
                    <a href="/Page/Page2" target="_blank">
                        <img src="~/Images/page2.png" class="img-responsive img-thumbnail" alt="" />
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 c-t">
                    <a href="/Page/Page3" target="_blank">
                        <h3> Third </h3>
                    </a>
                    <br />
                    <a href="/Page/Page3" target="_blank">
                        <img src="~/Images/page3.png" class="img-responsive img-thumbnail" alt="" />
                    </a>
                </div>
            </div>

            <hr />

            <div class="row c-t">
                <div class="col-md-12 col-sm-12 col-xs-12 c-t">
                    <h3>后台管理模板</h3>
                </div>
            </div>
            <div class="row c-t">
                <div class="col-md-6 col-sm-6 col-xs-12 c-t">
                    <a href="/Layout/FirstStyle" target="_blank">
                        <h3> First </h3>
                    </a>
                    <br />
                    <a href="/Layout/FirstStyle" target="_blank">
                        <img src="~/Images/fs.png" class="img-responsive img-thumbnail" alt="" />
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 c-t">
                    <a href="/Layout/SecondStyle" target="_blank">
                        <h3> Second </h3>
                    </a>
                    <br />
                    <a href="/Layout/SecondStyle" target="_blank">
                        <img src="~/Images/ss.png" class="img-responsive img-thumbnail" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </section>

</body>