

@Styles.Render("~/Content/page1")
@Scripts.Render("~/bundles/page1")
@{
    ViewBag.Title = "宣传页面1";
}

<body data-spy="scroll" data-target="#menu">
    <div class="navbar navbar-inverse navbar-fixed-top scrollclass" id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/Images/logo2.png" alt="京顺达" />
                    <b>京顺达运输综合系统</b>
                </a>
            </div>
            <div class="navbar-collapse collapse" style="margin-top: 15px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">首页</a></li>
                    <li><a href="#services">服务</a></li>
                    <li><a href="#about">关于</a></li>
                    <li><a href="#contact">联系</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
                    <div id="carousel-slider" data-ride="carousel" class="carousel slide">

                        <div class="carousel-inner">
                            <div class="item active">
                                <h1> Explore This Template Design  </h1>
                            </div>
                            <div class="item">
                                <h1> THIS TEMPLATE IS HANDMADE</h1>
                            </div>
                            <div class="item">
                                <h1> AWESOMENESS  JUST FOR YOU</h1>
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-slider" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-slider" data-slide-to="2" class=""></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2  scrollclass">
                    <p>
                        Lorem ipsumdolor sitamet, consect adipiscing elit
                        Lorem ipsumdolor sitamet, consect adipiscing elit
                    </p>
                    <br />
                    <a href="#services" class="btn  btn-lg custom-btn-1"><i class="fa fa-comments-o"></i> 服务 </a>
                    <a href="#about" class="btn  btn-lg custom-btn-1"><i class="fa fa-home"></i> 关于 </a>
                    <a href="#contact" class="btn btn-lg custom-btn-1"><i class="fa fa-globe"></i> 联系 </a>
                </div>
            </div>
        </div>
    </div>
   
    <hr />
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2  text-center">
                    <h2> 服务 </h2>
                    <p>
                        Lorem ipsumdolor sitamet, consect adipiscing elit
                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                        Lorem ipsumdolor sitamet, consect adipiscing elit
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-lock fa-4x "></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Easy To Customize</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-quote-right fa-4x  "></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Free To Download</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-road fa-4x "></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Easy To Customize</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-retweet fa-4x  "></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Free To Download</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr />
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2  text-center">
                    <h2>关于</h2>
                    <p>
                        Lorem ipsumdolor sitamet, consect adipiscing elit
                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                        Lorem ipsumdolor sitamet, consect adipiscing elit
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-fax fa-4x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">100% Free To Use</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-history fa-4x "></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Easy To Customize</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-graduation-cap fa-4x  "></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Free To Download</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="网站模板">网站模板</a></div>
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-paper-plane-o fa-4x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Easy To Understand</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-bullhorn fa-4x "></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Jusr Light Weight</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-folder-open-o fa-4x  "></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"> Only For You </h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr />
    <section id="contact">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2  text-center">
                    <h2> 联系 </h2>
                    <p>
                        Lorem ipsumdolor sitamet, consect adipiscing elit
                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                        Lorem ipsumdolor sitamet, consect adipiscing elit
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
                    <form>
                        <label>YOUR NAME</label>
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" />

                        </div>
                        <label>YOUR EMAIL</label>
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" />
                        </div>
                        <label>YOUR MESSAGE</label>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" style="min-height:120px;"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn custom-btn-1 btn-block">Submit Request</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
        &copy; 2017 上海彩卓信息科技有限公司
    </div>
</body>